body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.project-heading {
  font-size: 44px;
  margin: 10px;
}

.content {
  width: 97%;
  height: 70%;
  display: flex;
  margin: 10px;
  padding: 10px;
}

.recent-score {
  display: flex;
  width: 40%;
  flex-direction: column;
  padding: 50px;
}

.recent-score-head {
  display: flex;
  height: 44px;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.score-list {
  overflow: scroll;
  height: 45vh;
  padding-top: 40px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 3px 5px 4px 5px #b5b0b0;
}

/* .list-elements {
  background-color: rgb(224, 216, 216);
  padding: 1px;
  margin: 1px;
} */

.list-section {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #b5b0b0;
}

.list-section:nth-child(even) {
  background-color: rgba(187, 169, 171, 0.549);
}

.list-name {
  margin-left: 15px;
}

.list-elements {
  margin: 1px;
}

.recent-score-head > button {
  display: flex;
  justify-content: flex-end;
  height: 33px;
  align-items: center;
  text-align: center;
  margin-right: 11px;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 2px 3px 2px 2px #b5b0b0;
}

.add-score {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 50px;
}

.add-score > input {
  margin: 14px;
  height: 36px;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 3px 5px 4px 5px #b5b0b0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}

.add-score .btn-submit {
  width: 66px;
  text-align: center;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 2px 3px 2px 2px #b5b0b0;
}

.status {
  color: green;
}

.submit-div {
  display: flex;
  flex-direction: row-reverse;
  margin: 14px;
  height: 36px;
}

.status-div {
  display: flex;
  margin: 14px;
  height: 36px;
}

.footer-area {
  background-color: #b5b0b0;
  height: 40px;
}

.footer-area > p {
  text-align: center;
  padding: 10px;
}
